footer{
  height: 5vh;
  width: 100%;
  background: #232536 !important;
  font-family: 'Sen', sans-serif;
  color: white !important;
  // display: grid;
  // grid-template-columns: repeat(12, 1fr);
  // align-items: center;
  // justify-content: center;
  // overflow: hidden !important;
  // position: absolute;
  // top: 0;
}